/* normalize css */
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css) * {
    box-sizing: border-box;
}

body {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
}

.header-container {
    background: #3a3a3a;
    display: flex;
    justify-content: space-around;
    /* max-height: 40px; */
    height: 50px;
    opacity: 0.95;
    box-shadow: 1px 1px 20px;

}

.header-container:hover {
    opacity: 1.3;
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header-nav {
    height: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 95%;
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    padding: 0;
    height: 100%;
    margin: 0;
}

/* home button */
.header-home-link {
    height: 100%;
    width: 100%;
    /*min-width: 128px;
    */display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    letter-spacing: -.01em;
    line-height: 3, 14;
    font-weight: 400;
    opacity: .8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    outline-offset: -7px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-text-decoration-color: #ffffff;
}

.header-home-link:hover {
    color: #ffffff;
}

.logo-home {
    margin-right: 0;
}

/* menu list */
/* .li-size{ */
/* height: 100%; */
/* width: 100%; */
/* } */

/* .li-size:hover { */
/* background-color:  #fbfbfd; */
/* width: 100%; */
/* height: 100%; */
/* } */

.header-menu-item {
    display: flex;
    justify-content: space-between;
}

.header-menu-link {
    height: 100%;
    width: 100%;
    min-width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: "SF Pro Text", "Myriad Set Pro",
        "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: -.01em;
    line-height: 3, 14;
    font-weight: 400;
    opacity: .8;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    outline-offset: -7px;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    word-wrap: normal;
}

.header-menu-link:hover {
    background-color: #fbfbfd;
    color: #333;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.languageswitcher:after {
    /* font-family: FontAwesome; */
    /* content: "\f0d7"; */
    content: "\25BE";
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: -8px;
}

/* .caretdown{ */
/* margin-left: 5px; */
/* margin-bottom: -5px; */
/* cursor: pointer;  */
/* } */
/*  */
/* .caretdown:hover { */
/* filter: invert(0.7); */
/*      */
/* } */

.selected-lang ul {
    width: 180px;
    margin-top: 50px;
    margin-left: -52px;
    padding: 5px 0;
    background: #fbfbfb;
    border: solid 1px #f8f8f8;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0,
            0.2);
    display: none;
    /* to prevent jumping of ul: */
    position: absolute;
    /* text-align: center; */
}

.selected-lang ul li {
    list-style: none;
    display: flex;
    justify-content: start;
}

.selected-lang:hover ul {
    display: block;
}

/* .languageswitcher:hover ul{ */
/* display: block; */
/* } */

.selected-lang ul li a {
    width: 100%;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #3a3a3a;
}

.selected-lang ul li a:hover {
    background: #3a3a3a;
    color: #fbfbfb;
}

.selected-lang:hover .header-menu-link{
    background-color: #fbfbfd;
    color: #333;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.selected-lang ul li a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 15%;
}

.en:before {
    background-image: url("https://www.countryflags.io/us/flat/32.png");
}

.ru:before {
    background-image: url("https://www.countryflags.io/ru/flat/32.png");
}

.de:before {
    background-image: url("https://www.countryflags.io/de/flat/32.png");
}

.ae:before {
    background-image: url("https://www.countryflags.io/ae/flat/32.png");
}

/* main logo block */
.main-logo-container {
    background-color: #fbfbfd;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-logo-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 95%;
    align-items: center;
}

.main-logo-content {
    margin: 0;
}

.content {
    height: fit-content;
}

.img-container {
    background-image: url(main2_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* margin-bottom: -70px; */
    /* position: relative; */
    /* z-index: 1030; */
    background-position-x: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 950px;
    padding-bottom: 90px;
}

.row-img-container {
    width: 100%;
    transform: translateY(-500%);
    -webkit-transform: translateY(-500%);
    -moz-transform: translateY(-500%);
    -ms-transform: translateY(-500%);
    -o-transform: translateY(-500%);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

.row-img-container.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.row-text {
    color: #fbfbfd;
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.text {
    text-align: center;
    text-align: center;
}

.content-title {
    margin: 0px 0px 10px 0px;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.content-subtitle {
    margin: 0;
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    opacity: 0.8;
}

.supTitle {
    color: #3a3a3a;
    opacity: .9;
    font-weight: 300;
    font-size: 26px;
}

/* video block */
.video-container {
    width: 100%;
    height: 800px;
    background: #fbfbfd;
    margin-top: -50px;
    transform: skew(0deg, -3deg);
    -webkit-transform: skew(0deg, -3deg);
    -moz-transform: skew(0deg, -3deg);
    -ms-transform: skew(0deg, -3deg);
    -o-transform: skew(0deg, -3deg);

}

.video-wrapper {
    transform: skew(0deg, 3deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.video-items {
    height: 90%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 15px;
}

.video-item-section {
    box-shadow: 10px 10px 15px gray;
    max-width: 552px;
    max-height: 360px;
    width: 386px;
    height: 252px;
    border-radius: 20px;
    /*animationopacity*/
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.video-item-section.appear {
    opacity: 1;
}

.video-item-section img {
    width: 100%;
}

/* photo container */
.photo-container {
    background: #000000;
    padding: 13% 0 0 0;
    margin-top: -50px;
    width: 100%;
}

.photo-items {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.photo-columns {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.column {
    flex: 25%;

}

.photoColumn {
    opacity: 0;
    transition: .8s ease-in;
    -webkit-transition: .8s ease-in;
    -moz-transition: .8s ease-in;
    -ms-transition: .8s ease-in;
    -o-transition: .8s ease-in;
}

.photoColumn.appear {
    opacity: 1;
}

.column img {
    max-width: 100%;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.column-first img:hover:first-child,
.column-third img:hover:first-child {
    transition: 1s ease-in-out;
    transform: scale(1.5);
    z-index: 1;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.column img:hover {
    /*transition-delay: 3s;
    */
    transition: 1s ease-in-out;
    transform: scale(2);
    z-index: 1;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

/* .column-first img:hover:nth-child(2n){ */
/* padding-left: 42px; */
/* } */

.column-fourth img:hover {
    padding-right: 5px;
}

.column-second,
.column-fourth {
    padding: 20px 7px 7px;
}

/* photo block text bottom */

.block-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    margin: 0;
    border-top: 1px solid gray;
}

.photo-text {
    padding: 0;
    margin: 0;
    color: #fbfbfb;
}

/* footer */

.footer-container {
    background-color: #e7e8ed;
    width: 100%;
}

.photo-bottom-block-width {
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
}

/* footer contacts */
.footer-contacts-wrapper {
    width: 100%;
    height: 100%;
}

.grid-section {
    grid-area: footer-contacts-wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* footer media */

.footer-media {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    float: left;
    width: 50%;
    margin: 0px 20px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    color: #435464;
    opacity: .85;
    padding-right: 30px;
}

.footer-title h3 {
    letter-spacing: 1.5px;
    padding-bottom: 10px;
}

.footer-title h3:after {
    display: block;
    content: " ";
    width: 30%;
    height: 1px;
    background: #39454B !important;
    opacity: .5;
    left: 20px;
    margin-top: 8px;
}

.footer-title p {
    font-size: 21px;
    letter-spacing: 1, 5;
}

.media-contacts {
    float: left;
    margin: 0px 20px;
    font-weight: 300;
}

.img-media-icon-content {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.media-links-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.media-contacts-block {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    cursor: pointer;
}

.mail-icon {
    margin-bottom: 0;
}

.media-contacts-block img {
    margin-right: 20px;
    width: 30px;
}

.media-contacts-block div {
    font-size: 19px;
    color: #435464;
    opacity: .85;
}

/* footer maps */
.footer-maps {
    padding: 10px 15px;
}

.allmaps-wrapper {
    width: 90%;
    margin: auto;
}

.branch-title-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.branch-title {
    width: fit-content;
    font-weight: 450;
    opacity: .85;
    font-size: 22px;
    color: #435464;
    font-weight: 300;
    letter-spacing: 2;
}

.ukr-branch-container {
    padding-bottom: 20px;
}

.map-wrapper {
    box-shadow: 1px 1px 15px grey;
    height: 220px;
}

/* copyright */
.footer-block-copyright {
    padding-bottom: 10px;
}

.footer-copyright-wrapper {
    display: flex;
    justify-content: center;
}

.footer-copyright-content {
    color: #333;
    font-size: 12px;
}

/* media request */
@media (max-width: 700px) {

    .content,
    .header-nav {
        flex-direction: column;
    }
}

@media(min-width: 1900px) {
    .video-item-section {
        width: 500px;
        height: 300px;
        /* padding-bottom: 30px; */
        margin-bottom: 30px;
        margin-right: 0;
        padding-right: 0;

    }