body {
    margin: 0;
}

.popup-container {
    padding: 50px 0px 10px 0px;
    height: 100%;
    min-height: 100vh;
    /* max-height: 100vh; */
    overflow: hidden;
    background-size: cover;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-container.is-invisible {
    max-height: 100vh;
}

.text {
    width: 370px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    font-feature-settings: "pnum"on, "lnum"on;
    text-transform: uppercase;
    /* margin: 1% 0% 4%; */
    margin: 2vh 0vh 8vh 0vh;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 570px;
    height: 60px;
    position: relative;
}

.label {
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    line-height: 21px;
    opacity: .55;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.input {
    position: absolute;
    top: 26px;
    width: 100%;
    height: 25px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    padding: unset;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .25);
    transition: border-bottom 0.2s ease-out;
    -webkit-transition: border-bottom 0.2s ease-out;
    -moz-transition: border-bottom 0.2s ease-out;
    -ms-transition: border-bottom 0.2s ease-out;
    -o-transition: border-bottom 0.2s ease-out;
}

.inputDate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    width: 60%;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    opacity: .55;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    text-decoration: none;
}

.inputDate:hover {
    opacity: 1;
}

.inputDate:focus+.labelDate {
    color: #78e4ff;
    opacity: 1;
    font-size: 14px;
}

.input-wrapper+.input-wrapper {
    margin-top: 30px;
}

.input:focus {
    border-bottom: 2px solid #ffffff;
}

.input:focus+.label {
    color: #78e4ff;
    opacity: 1;
    font-size: 14px;
}

.error-message {
    position: absolute;
    top: 55px;
    right: 0px;
    color: #78e4ff;
    font-family: "Raleway";
    font-size: 14px;
    opacity: 0;
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

/* submit btn */

.btn.go-homepage {
    width: fit-content;
    word-wrap: normal;
}

.btn.go-homepage:before {
    width: 2em;
}

.btn {
    align-items: center;
    position: relative;
    width: 289px;
    border-radius: 12px;
    padding: 0px 55px;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    letter-spacing: .1em;
    margin-top: 35px;
    transform: skew(160deg);
    -webkit-transform: skew(160deg);
    -moz-transform: skew(160deg);
    -ms-transform: skew(160deg);
    -o-transform: skew(160deg);
    overflow: hidden;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #fff;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px black inset;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.btn:before {
    content: " ";
    background-image: linear-gradient(90deg, #78e4ff, #ff48fa);
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    left: -23%;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
}

.btn:hover:before {
    left: 110%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.btn span {
    display: inline-block;
    transform: skew(-160deg);
    -webkit-transform: skew(-160deg);
    -moz-transform: skew(-160deg);
    -ms-transform: skew(-160deg);
    -o-transform: skew(-160deg);
}

.modal-overlay {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -webkit-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -moz-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -ms-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -o-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.modal-overlay.open {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: fixed;
    font-family: "Raleway";
    width: 502px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /* left: center; */
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -webkit-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -moz-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -ms-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -o-transition: backdrop-filter .5s ease-in-out, background-color .5s ease-in-out;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.05em;
}

.modal-description {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.modal:before {
    display: block;
    content: "";
    width: 70px;
    height: 60px;
    position: absolute;
    background: url(/svg/triple-slash.svg);
    background-size: cover;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    z-index: 101;
}

.modal:after {
    display: block;
    content: "";
    width: 70px;
    height: 60px;
    position: absolute;
    background: url(/svg/triple-slash.svg);
    background-size: cover;
    bottom: 0;
    right: 10px;
    transform: translateY(50%);
}

/* media queries */

/* portrait , Ipad*/
@media screen and (min-width: 768px) and (max-width: 918px) and (min-height: 844px) {
    .popup-container {
        justify-content: center;
    }

    .modal-overlay {
        overflow: hidden;
    }

    .text {
        margin: 0vh 0vh 8vh 0vh;
    }

    .input {
        height: 35px;
        font-size: 19px;
    }

    .btn {
        margin-top: 90px;
    }

    .btn.go-homepage {
        margin-top: 50px;
    }

    .modal {
        transform: translate(-50%, -60%) scale(1);
        -webkit-transform: translate(-50%, -60%) scale(1);
        -moz-transform: translate(-50%, -60%) scale(1);
        -ms-transform: translate(-50%, -60%) scale(1);
        -o-transform: translate(-50%, -60%) scale(1);
    }

}

/* landscape (mobile)*/
@media screen and (max-width: 915px) and (max-height: 500px) {
    .modal-overlay {
        overflow: hidden;
    }

    .popup-container {
        overflow: auto;
        padding-bottom: 20px;
    }
}

/* portrait */
@media screen and (max-width: 767px) and (min-height: 500px) {
    .input-wrapper {
        width: 370px;
    }
}

/* portrait */
@media screen and (max-width: 414px) and (min-height: 896px) {
    .input-wrapper {
        width: 290px;
    }

    .modal {
        width: 300px;
        padding: 40px 0px;
    }

    .modal:before {
        height: 45px;
    }

    .modal:after {
        height: 45px;
    }

    .btn.go-homepage {
        padding: 0px 45px;
        margin-top: 30px;
    }

    .btn:before {
        margin-left: -30px;
    }
}

/* desktop */
@media screen and (max-width: 600px) {
    .modal {
        width: 320px;
        padding: 40px 0px;
    }

    .modal:before {
        height: 45px;
    }

    .modal:after {
        height: 45px;
    }

    .btn.go-homepage {
        padding: 0px 45px;
        margin-top: 30px;
    }

    .btn.go-homepage:before {
        margin-left: inherit;
    }

    .btn:before {
        margin-left: -5px;
    }
}

@media screen and (max-width: 393px) {
    .input-wrapper {
        width: 300px;
    }

    .input-wrapper+.input-wrapper {
        margin-top: 20px;
    }

    .modal {
        width: 300px;
        padding: 40px 0px;
    }

    .modal:before {
        height: 45px;
    }

    .modal:after {
        height: 45px;
    }

    .btn.go-homepage {
        padding: 0px 45px;
        margin-top: 30px;
    }

    .btn:before {
        margin-left: -5px;
    }
}

@media screen and (max-width: 300px) {
    .modal {
        width: 250px;
        padding: 25px 0px;
    }

    .modal:before {
        height: 35px;
    }

    .modal:after {
        height: 35px;
    }

    .btn {
        width: 250px;
    }

    .btn.go-homepage {
        padding: 0px 45px;
        margin-top: 30px;
    }

    .btn.go-homepage span {
        font-size: 13px;
    }

    .btn:before {
        margin-left: -5px;
    }

    .modal-title {
        font-size: 23px;
    }

    .text {
        width: fit-content;
        font-size: 15px;
    }

    .input-wrapper {
        width: 260px;
    }

    .label {
        font-size: 16px;
    }

}

@media screen and (max-width: 653px) and (max-height: 300px) {
    .modal {
        width: 350px;
        padding: 25px 0px;
    }

    .modal:before {
        height: 45px;
    }

    .modal:after {
        height: 45px;
    }

}