html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper {
  max-width: 1200px;
  width: 95%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  background: #3a3a3a;
  display: flex;
  justify-content: space-around;
  height: 50px;
  opacity: 0.95;
  box-shadow: 1px 1px 20px;
  z-index: 2;
  transition: top 1s;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
}

.header-container:hover {
  opacity: 1;
}

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.header-nav {
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 100px;
}

.header-menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100%;

}

.header-menu-item {
  display: flex;
  margin-right: 20px;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
}

body._pc .header-menu-item:hover {
  color: #fbfbfd;
  opacity: 1;
  text-decoration: underline;
}

.header-logo-home {
  float: left;
  margin-right: 10%;
  height: 100%;
}

.header-home-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ee404f;
  font-size: 20px;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /*text-decoration: none;
  */
  letter-spacing: -.01em;
  line-height: 3, 14;
  font-weight: 400;
  opacity: .8;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  outline-offset: -7px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.header-home-link:hover {
  color: #f27ea5;
}

.menu-arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 3px 0px 0px 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #fbfbfb;
  transition: transform .3s ease 0s;
  -webkit-transition: transform .3s ease 0s;
  -moz-transition: transform .3s ease 0s;
  -ms-transition: transform .3s ease 0s;
  -o-transition: transform .3s ease 0s;
}

body._pc .sub-list {
  width: 178px;
  margin-top: 228px;
  margin-left: -40px;
  padding: 5px 0px 5px 5px;
  background: #fbfbfb;
  border: solid 1px #f8f8f8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

body._touch .sub-list {
  width: 180px;
  margin-top: 228px;
  margin-left: -40px;
  padding: 5px 0px 5px 5px;
  background: #fbfbfb;
  border: solid 1px #f8f8f8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.sub-list li {
  display: flex;
  justify-content: start;
}

body._pc .selected-lang:hover .sub-list {
  visibility: visible;
  opacity: 1;
}

body._pc .selected-lang:hover .menu-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body._touch .selected-lang._active .sub-list {
  visibility: visible;
  opacity: 1;

}

body._touch .selected-lang._active .menu-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.sub-list li a {
  width: 100%;
  display: block;
  padding: 5px 10px;
  color: #3a3a3a;
}


.sub-list li a:hover {
  background: #3a3a3a;
  color: #fbfbfb;
}

body._pc .selected-lang ul li a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-left: 15%;
  background-repeat: no-repeat;
  background-size: contain;
}

.en:before {
  background-image: url(/png-lang/uk.PNG);
}

.ru:before {
  background-image: url(/png-lang/ru.PNG);
}

.de:before {
  background-image: url(/png-lang/de.PNG);
}

.ae:before {
  background-image: url(/png-lang/uae.PNG);
}


.header-menu-link {
  color: #fbfbfb;
}

/* amenu burger */
.amenu__item {
  word-wrap: normal;
}

.amenu__burger {
  position: relative;
}

.amenu__burger-open .amenu__burger-list {
  display: block;
}

.amenu__burger-list_closed {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.amenu__burger-btn {
  display: none;
  width: 24px;
  height: 24px;
  transform: translateY(50%);
  background-repeat: no-repeat;
  transition: background-image 300ms;
  border: none;
  cursor: pointer;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 551.13 551.13' height='512' viewBox='0 0 551.13 551.13' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='path-1_20_' d='m275.565 137.783c-37.995 0-68.891-30.897-68.891-68.891 0-37.995 30.897-68.892 68.891-68.892 37.995 0 68.891 30.897 68.891 68.891 0 37.995-30.896 68.892-68.891 68.892zm0-103.337c-18.989 0-34.446 15.457-34.446 34.446s15.457 34.446 34.446 34.446 34.446-15.457 34.446-34.446-15.457-34.446-34.446-34.446z' transform='translate(6)'/%3E%3Cpath id='path-1_19_' d='m275.565 344.456c-37.995 0-68.891-30.897-68.891-68.891 0-37.995 30.897-68.891 68.891-68.891 37.995 0 68.891 30.897 68.891 68.891 0 37.995-30.896 68.891-68.891 68.891zm0-103.337c-18.989 0-34.446 15.457-34.446 34.446s15.457 34.446 34.446 34.446 34.446-15.457 34.446-34.446-15.457-34.446-34.446-34.446z' transform='translate(6 6)'/%3E%3Cpath id='path-1_18_' d='m275.565 551.13c-37.995 0-68.891-30.897-68.891-68.891 0-37.995 30.897-68.891 68.891-68.891 37.995 0 68.891 30.897 68.891 68.891s-30.896 68.891-68.891 68.891zm0-103.337c-18.989 0-34.446 15.457-34.446 34.446s15.457 34.446 34.446 34.446 34.446-15.457 34.446-34.446-15.457-34.446-34.446-34.446z' transform='translate(6 12)'/%3E%3C/svg%3E");

}


.amenu__burger-btn.amenu__burger-btn_active {
  display: block;
}

.amenu__burger-btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 515.555 515.555' height='512' viewBox='0 0 515.555 515.555' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m303.347 18.875c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0'/%3E%3Cpath d='m303.347 212.209c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0'/%3E%3Cpath d='m303.347 405.541c25.167 25.167 25.167 65.971 0 91.138s-65.971 25.167-91.138 0-25.167-65.971 0-91.138c25.166-25.167 65.97-25.167 91.138 0'/%3E%3C/svg%3E");
}

.amenu__burger-list {
  position: absolute;
  width: 180px;
  right: 10px;
  top: 35px;
  background-color: #3a3a3a;
  border: 1px solid black;
  display: none;
  padding-top: 10px;
}

.amenu__burger-list .amenu__item {
  padding: 0 0 13px 0;
}

@media (min-width: 414px) {}