.footer-container {
   background-color: #e7e8ed;
   width: 100%;
}

.footer-contacts-wrapper {
   width: 100%;
   height: 100%;
}

.grid-section {
   grid-area: footer-contacts-wrapper;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.footer-media {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px 20px;
}

.footer-title {
   float: left;
   width: 50%;
   font-weight: 300;
   line-height: 1.5;
   font-family: 'Noto Sans', sans-serif;
   font-size: 19px;
   color: #435464;
   opacity: .85;
   padding-right: 30px;
}

.footer-title h3 {
   letter-spacing: 1.5px;
   padding-bottom: 10px;
}

.footer-title h3:after {
   display: block;
   content: " ";
   width: 30%;
   height: 1px;
   background: #39454B !important;
   opacity: .5;
   left: 20px;
   margin-top: 8px;
}

.footer-title p {
   font-size: 21px;
   letter-spacing: 1, 5;
}

.media-contacts {
   float: left;
   font-weight: 300;
   width: 50%;
}

.img-media-icon-content {
   width: 30px;
   height: 30px;
   cursor: pointer;
}

.media-links-wrapper {
   display: flex;
   justify-content: space-around;
   margin-bottom: 20px;
}

.media-contacts-block {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
}

.mail-icon {
   margin-bottom: 0;
}

.media-contacts-block img {
   margin-right: 20px;
   width: 30px;
}

.media-contacts-block a {
   font-size: 19px;
   color: #435464;
   opacity: .85;
   text-decoration: none;
}

.footer-maps {
   padding: 10px 15px;
}

.allmaps-wrapper {
   width: 90%;
   margin: auto;
}

.branch-title-wrapper {
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
}

.branch-title {
   width: fit-content;
   font-weight: 450;
   opacity: .85;
   font-size: 22px;
   color: #435464;
   font-weight: 300;
   letter-spacing: 2;
}

.ukr-branch-container {
   padding-bottom: 20px;
}

.map-wrapper {
   box-shadow: 1px 1px 15px grey;
   height: 150px;
}

.footer-block-copyright {
   padding-bottom: 10px;
}

.footer-copyright-wrapper {
   display: flex;
   justify-content: center;
}

.footer-copyright-content {
   color: #333;
   font-size: 12px;
}


.top-btn{
 position: fixed;
 display: inline-block;
 bottom: 3px;
 right: 0;
 width: fit-content;
 height: fit-content;
 z-index: 2000;
 border: 1px solid red;
 border-radius: 3px;
 padding: 0px 3px;
 background-color: pink;
 opacity: 0;
 visibility: hidden;
 transition: all .5s ease-in-out;
 -webkit-transition: all .5s ease-in-out;
 -moz-transition: all .5s ease-in-out;
 -ms-transition: all .5s ease-in-out;
 -o-transition: all .5s ease-in-out;
}

.go-top-link{
line-height: 1.5;
font-family: 'Noto Sans', sans-serif;
font-size: 15px;
color: #000;
letter-spacing: -.4px;
}

.blur-footer {
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}

@media(max-width: 1200px) {
   .footer-media {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .footer-title {
      width: 100%;
      padding-right: 0;
      font-size: 15px;
   }

   .footer-title p{
font-size: 18px;
   }

   .footer-title h3{
      padding-bottom: 0;
   }

   .media-contacts{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
   }

   .media-contacts-block {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      width: 50%;
   }

   .media-contacts-block img {
      margin-right: 5px;
      width: 25px;
   }

   .media-contacts-block a {
      font-size: 17px;
   }

   .branch-title {
      font-size: 18px;
   }
}